# /etc/systemd/system/hostapd-ap0.service

[Unit]
Description=Hostapd IEEE 802.11 AP Authenticator
Requires=sys-subsystem-net-devices-ap0.device
After=sys-subsystem-net-devices-ap0.device
Before=network.target
Wants=network.target

[Service]
Type=forking
PIDFile=/run/hostapd-ap0.pid
ExecStart=/usr/sbin/hostapd /etc/hostapd-ap0.conf -P /run/hostapd-ap0.pid -B

[Install]
WantedBy=multi-user.target
Alias=multi-user.target.wants/hostapd@ap0.service